{% extends 'layout.html' %}

{% block title %}
Listar
{% endblock %}

{% block top %}
<h2>Libros</h2>
{% endblock %}

{% block body %}
<p>
    <a class="btn btn-success" href="{% url 'crear' %}">Crear</a>
</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr class="table-info">
            <td>Título</td>
            <td>Materia</td>
            <td>Autor</td>
            <td>Edición</td>
            <td>Num. Copias</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        {% for item in object_list %}
        <tr>
            <td>{{ item.titulo }}</td>
            <td>{{ item.materia }}</td>
            <td>{{ item.autor }}</td>
            <td>{{ item.edicion }}</td>
            <td>{{ item.copias }}</td>
            <td>
                <a class="btn btn-warning" href="{% url 'editar' pk=item.id %}">Editar</a>
            </td>
            <td>
                <a class="btn btn-danger" href="{% url 'eliminar' pk=item.id %}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}